* { margin: 0; padding: 0; }
:focus { outline: none; }
img{
	border: none;
}
body { background: #357fc2; margin: 0px; padding: 0px; }
body, td, th, select, input { font-family: "freight-sans-pro", Verdana, Geneva, sans-serif; font-size: 16px; color: #fff; }
a { color: #fff; text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
.wrap { margin: auto; width: 960px; }
.floatLeft { float: left; }
.floatRight { float: right; }
.clearBoth { clear: both; }
.top { padding: 20px 0; text-align: center; }
.contentMain { padding: 30px 0; background: #d2e4ed; position: relative;}
.fulWidth { width: 100%; background: url(../images/map.png) no-repeat top center; }
.leftWing { float: left; width: 51%; text-align: center; }
.offeribbon{
	background: #e5262a;
	text-align: left;
	padding: 13px 38px 13px;
	-webkit-border-radius: 0px 5px 5px 0px;
        border-radius: 0px 5px 5px 0px;
	h3{
		color: #7f0104;
		font-size: 18px;
	}
	h1{
		line-height: 33px;
		font-size: 31px;
	}
	p{
		font-size: 18px;
		color: #E6E6E6;
		padding-top: 3px;
	}
}
.rightWing { float: right; width: 36%; margin-right: 50px; }
.formInput { border: 1px solid rgb(245, 229, 229); padding: 6px 20px; width: 84%; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; color: #666; margin-bottom: 23px; font-size: 14px; background: rgb(250, 252, 252); }
.submitBtn { border: rgb(150, 190, 233) solid 1px; background:#3469b6; color: #fff; padding: 4px 22px; font-size: 15px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; cursor: pointer; float: right; }
.submitBtn:hover { background:#1b3c73; }
.formIntro { color: #034e88; line-height: 17px; padding-bottom: 20px; }
.formBg { background: url(../images/form_bg.png) repeat; padding: 25px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; }
.intro { color: #034e88; font-size: 28px; font-weight: normal; text-align: center; padding-bottom: 30px; line-height: 34px; }
.footer { background:url(../images/footer_bg.png) repeat;}
.footerWrap{background: url(../images/footer-repeat.png) repeat-y top center; }
.footer h1 { font-weight: normal; font-size: 24px; padding-bottom: 5px; }
.footer p { font-weight: normal; font-size: 15px; line-height: 24px; }
.first-col{
	float: left;
	padding: 13px 38px 23px;
	width: 216px;
}
.center-col{
	float: left;
	padding: 13px 38px 23px;
	width: 258px;
}
.last-col{
	float: left;
	padding: 13px 38px 23px;
	width: 257px;
}
.more { padding: 3px 20px; background: #357fc2; border: #83b1d7 solid 1px; border-radius: 5px; color: #fff; margin-top: 15px; float: left; }
.more:hover{background:#1b3c73;}
.minifooter{background:#357fc2; color:#fff; text-align:center; padding: 15px 0;font-size: 14px;}
.minifooter a{text-decoration:underline;}
.minifooter a:hover{text-decoration:none;}
.backBtn {
	border: #96bee9 solid 1px;
	background: #3469b6;
	color: #fff;
	padding: 4px 16px 6px;
	font-size: 15px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	cursor: pointer;
	margin-left: 35%;
	margin-top: 12px;
}
/*Media query starts*/
@media all and (min-width: 240px) and (max-width: 960px){
	.wrap { margin: auto; width: 100%; padding:0;}
	body, td, th, select, input { font-family: "freight-sans-pro", Verdana, Geneva, sans-serif; font-size: 1em; color: #fff; }
	.leftWing{width:100%; text-align:center; padding-right: 20px; -webkit-box-sizing: border-box;  
		-moz-box-sizing: border-box;     
		box-sizing: border-box; }
	.leftWing img{width:80%;}
	.rightWing {width: 100%; margin: 0;}
	.formInput {padding: 6px 5%;
	width: 90%;}
	.intro {
		font-size: 1em;
		line-height:1.5em;
		padding:0 20px;
	}
	.offeribbon{
		padding: 15px 30px;
	}
	.formIntro {
		padding:20px;
	}
	.formBg{
		margin:0 20px;
	}
	.footerWrap{background:none;}
	.first-col{
		width:100%; 
		-webkit-box-sizing: border-box;  
		-moz-box-sizing: border-box;     
		box-sizing: border-box; 
		padding:20px 20px 25px;
		border-bottom: #034e88 solid 1px;
	}
	.center-col{
		width:100%;
		padding:20px 20px 25px;
		-webkit-box-sizing: border-box;  
		-moz-box-sizing: border-box;     
		box-sizing: border-box; 
		border-top: #3d8bd1 solid 1px;
		border-bottom: #034e88 solid 1px;
	}
	.last-col{
		width:100%;
		padding:20px 20px 25px;
		-webkit-box-sizing: border-box;  
		-moz-box-sizing: border-box;     
		box-sizing: border-box; 
		border-top: #3d8bd1 solid 1px;
	}
	.top img{width:80%;}
	.contentMain {padding: 20px 0;	}
}
/*Media query ends*/